<li>
	{{title}}

	<button class="change-haveRead" data-id="{{id}}" data-newRead="{{read}}">
		{{#if read}}Read Book!{{else}}Reread!{{/if}}
	</button>

	<button class="delete-book" data-id="{{this.id}}">DELETE!</button>
</li>